/* Custome properties */
:root {
    --ff-primary: 'Poppins';
    --ff-secondary:sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-bg: #ffff;
    --clr-text: #151515;
    --clr-accent: hsl(192, 100%, 73%);
    --clr-gradual: linear-gradient(to right,hsl(253, 100%, 54%), hsl(222, 100%, 64%));
    --clr-dark: rgb(66, 66, 66);
    --clr-section-title: rgb(0, 0, 0);

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 2rem;
    --fs-h4: 1.5rem;
    --fs-body: 1rem;

    --imgs: 250px;
    --radius-box: 10px;
    --min-width: 800px;

    --flex-pad: 30px 20px 30px 20px;

    --bg-timer: url('/Users/kaiyatakahashi/Desktop/DevTimeManager/client/src/images/festivals.jpg');

    --bs: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --box-shadow: 0px 0px 10px 0px rgb(101, 101, 152);
}

/* Title */
#title {
    font-size: var(--fs-h3);
}

.section-title {
    color: var(--clr-section-title);
}

/* Button */
.button {
    display: inline-block;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    font-weight: bold;
}

.button:hover {
    transition: 0.5s;
}

#orange {
    background-color: var(--clr-orange);
}

/* Navbar */
.NavbarItems {
    background: var(--clr-gradual);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

/* Home View */
#home-window {
    background: linear-gradient(hsl(205, 100%, 62%), hsl(188, 100%, 91%));
    display: flex;
    flex-direction: column;
}

/* Header */
#home-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

#google-buttons {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    position: absolute;
    right: 10px;
}

/* content box */
.contents-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Timer */
#timer-div {
    margin-top: 100px;
}

#timer-flex {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 30px 0px;
    padding: var(--flex-pad);
    background-color: white;
    justify-content: space-between;
    align-items: center;
    min-width: var(--min-width);
    box-shadow: var(--box-shadow);
}

#timer-count-box {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 250px;
}

@media (min-width: 750px) {
    .timer-item + .timer-item {
        border-left: solid 1px rgb(173, 173, 173);
    }
}

#timer-count {
    font-size: 30px;
}

#timer-count-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
}

#timer-status-box {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

/* Task Table */
#task-table {
    background-color: white;
    min-width: var(--min-width);
    padding: var(--flex-pad);
    box-shadow: var(--box-shadow);
    margin-bottom: 30px;
}

.container {
    overflow-x: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 10px;
    margin: 10px;
  }

.icon-box {
    max-width: 1px;
}

/* Weekly Column */
#weekly-column {
    min-width: var(--min-width);
    padding: var(--flex-pad);
    box-shadow: var(--box-shadow);
    margin-bottom: 50px;
}



@media (min-width: 1000px) {
    #timer-flex {
    }
    
    #weekly-table {

    }

    #timer-flex {

    }
}

@media (max-width: 900px) {
    #timer-flex {
        min-width: 700px;
    }
    
    #task-table {
        min-width: 700px;
    }

    #weekly-column {
        min-width: 700px;
    }
}
  
@media (max-width: 750px) {
    #timer-flex {
        min-width: 80%;
    }
    
    #task-table {
        min-width: 400px;
    }

    #weekly-column {
        min-width: 400px;
    }

    /* Header */
    #home-header {
        font-size: 13px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: unset;
    }

    #google-buttons {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        position: unset;
        right: unset;
    }
    
    #timer-flex {
        align-items: center;
        flex-direction: column;
        row-gap: 50px;
    }
}

@media (max-width: 390px) {
    /* Header */
    #home-header {
    }

    #google-buttons {
    }
    
}

@media (max-width: 375px) {
    /* Title */
    #title {
        font-size: var(--fs-h4);
    }

    /* Header */
    #home-header {
        font-size: 13px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: unset;
    }

    #google-buttons {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        position: unset;
        right: unset;
    }
    
    #timer-flex {
        align-items: center;
        flex-direction: column;
        row-gap: 50px;
        margin: 0px 10px 0px 10px;
    }

    #task-table {
        margin: 0px 10px 0px 10px;
    }

    #weekly-column {
        margin: 0px 10px 0px 10px;
    }

    /* content box */
    .contents-box {
        display: unset;
    }

    .section-title {
        margin-left: 20px;
    }
}