/* Custome properties */
:root {
    --ff-primary: 'Poppins';
    --ff-secondary:sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-bg: #ffff;
    --clr-text: #151515;
    --clr-accent: hsl(192, 100%, 73%);
    --clr-gradual: linear-gradient(to right,hsl(253, 100%, 54%), hsl(222, 100%, 64%));
    --clr-dark: rgb(66, 66, 66);
    --clr-section-title: rgb(0, 0, 0);

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 2rem;
    --fs-h4: 1.5rem;
    --fs-head: 20px;
    --fs-body: 1rem;

    --imgs: 250px;
    --radius-box: 10px;
    --min-width: 800px;

    --flex-pad: 30px 20px 30px 20px;

    --bs: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --box-shadow: 0px 0px 10px 0px rgb(77, 97, 93);
}

/* Title */
#title {
    font-size: var(--fs-h3);
}

.section-title {
    color: var(--clr-section-title);
}

#hello-user {
    font-size: var(--fs-body);
}

/* Home View */
#home-window {
    /* background: linear-gradient(hsl(205, 100%, 62%), hsl(188, 100%, 91%)); */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/Users/kaiyatakahashi/Desktop/DevTimeManager/client/src/images/pexels-gdtography-950241.jpg');
    background-size: 100%;
}

/* Header */
#home-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

#google-buttons {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    position: absolute;
    right: 10px;
}

/* Timer */
#timer-div {
    margin-top: 100px;
    width: 90%;
    max-width: 1000px;
}

#timer-flex {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 30px 0px;
    /* padding: var(--flex-pad); */
    padding: 40px 30px 40px 30px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
}

#timer-count-box {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 250px;
}

@media (min-width: 750px) {
    .timer-item + .timer-item {
        border-left: solid 1px rgb(173, 173, 173);
        padding-left: 5%;
    }
}

#timer-count {
    font-size: 30px;
}

#timer-count-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
}

#timer-status-box {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

/* Task Table */
#task-table-div {
    width: 90%;
    max-width: 1000px;
}

#task-table {
    background-color: white;
    padding: var(--flex-pad);
    box-shadow: var(--box-shadow);
    margin-bottom: 30px;
}

.container {
    overflow-x: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 10px;
    margin: 10px;
  }

.icon-box {
    max-width: 1px;
}

/* Weekly Column */
#weekly-column-div {
    width: 90%;
    max-width: 1000px;
}

#weekly-column {
    padding: var(--flex-pad);
    box-shadow: var(--box-shadow);
    margin-bottom: 50px;
}

#range-box {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

@media (min-width: 1000px) {

}

@media (max-width: 900px) {

}
  
@media (max-width: 750px) {

    /* Header */
    #home-header {
        font-size: 13px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: unset;
    }

    #google-buttons {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        position: unset;
        right: unset;
    }

    #timer-flex {
        align-items: center;
        flex-direction: column;
        row-gap: 50px;
    }

    #title {
        font-size: var(--fs-head);
    }

    #hello-user {
        font-size: var(--fs-body);
    }
}

@media (max-width: 414px) {
    /* Title */
    #logo {
        width: 35px;
    }

    #title {
        font-size: var(--fs-body);
    }
    #hello-user {
        font-size: 10px;
    }
}

@media (max-width: 375px) {
    #timer-div {
        margin-top: 50px;
    }

    /* Header */
    #home-header {
        font-size: 13px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: unset;
    }

    #google-buttons {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        position: unset;
        right: unset;
    }
}