/* Custome properties */
:root {
    --high-timer: 40px;
    --wth-timer: 70px;
}

.custom-button {
    display: inline-block;
    color: #fff;
    border: none;
    padding: 7px 10px;
    margin: 5px 5px 20px 5px;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    font-weight: bold;
    box-shadow: 2px 3px rgb(107, 102, 136);
}

.custom-button:hover {
    background-color: rgb(53, 71, 174);
    transition: 0.5s;
}

#blue {
    background-color: rgb(154, 164, 215);
}

#green {
    background-color: rgb(116, 251, 75);
    height: var(--high-timer);
    width: var(--wth-timer);
}

#red {
    background-color: rgb(255, 72, 72);
    height: var(--high-timer);
    width: var(--wth-timer);
}

#reset {
    background-color: rgb(255, 170, 72);
    height: var(--high-timer);
    width: var(--wth-timer);
}

#submit {
    background-color: rgb(72, 81, 255);
    height: var(--high-timer);
    width: var(--wth-timer);
}